

<nav class="navbar" class="issues-navbar">
    <ul>
        <li>
            <li><a href="<%= repoUrl %>" target="_blank">Repository</a></li>
            <li><a href="<%= authorUrl %>" target="_blank">Author</a></li>
            <li><a href="<%= issuesUrl %>" target="_blank">RepoIssues</a></li>
        </li>
    </ul>
</nav>

<h1>Dashboard</h1>
<div id="issues-list">
    <% issues.forEach(function(issue) { %>
        <div class="issue" id="issue-<%= issue.iid %>">
            <h2 class="issue-title"><%= issue.title %></h2>
            <p class="issue-description">Description: <%= issue.description %></p>
            <p>Status: <span class="issue-status"><%= issue.state %></span></p>
            <p class="issue-author">Author: <%= issue.author.name %></p>
            <p class="issue-date">Created at: <%= issue.created_at %></p>
            <p class="issue-update">Last updated at: <%= issue.updated_at %></p>
            <a href="<%= issue.web_url %>" class="issue-link" target="_blank">View it on GitLab</a>



            <div class="issue-comments">
                <h3>Comments</h3>
                <% if(issue.comments && issue.comments.length > 0) { %>
                    <% issue.comments.forEach(function(comment) { %>
                        <div class="comment-element" id="comment <%= comment.id %>">
                            <p class="comment-author"><%= comment.author.name %></p>
                            <p class="comment-body"><%= comment.body %></p>
                            <p class="comment-date">Created at: <%= comment.created_at %></p>
                            <p class="comment-update">Last updated at: <%= comment.updatedAt %></p>
                        </div>
                    <% }); %>
                <% }%>
            </div>
        </div>
    <% }); %>
</div>