<h1>Issues</h1>


<div id="issues-list">

    <% issues.forEach(function(issue) { %>
        <div class="issue" id="issue-<%= issue.iid %>">
            <h2 class="issue-title"><%= issue.title %></h2>
            <p class="issue-description">Description: <%= issue.description %></p>

            <% if(issue.state === 'opened') { %>
                <p>Status: <span class="issue-status status-open"><%= issue.state %></span></p>
            <% } else { %>
                <p>Status: <span class="issue-status status-closed"><%= issue.state %></span></p>
            <% } %>


            <p class="issue-author">Author: <%= issue.author.name %></p>
            <p class="issue-date">Created at: <%= issue.created_at %></p>
            <p class="issue-update">Last updated at: <%= issue.updated_at %></p>
            <a href="<%= issue.web_url %>" class="issue-button issue-link" target="_blank">View it on GitLab</a>
            <button class="issue-button view-comments" data-issue-id="<%= issue.iid %>">Show comments</button>

            <button class="issue-button close-issue" data-issue-id="<%= issue.iid %>" <% if(issue.state !== 'opened') { %> style="display:none;" <% } %>>Close Issue</button>
            <button class="issue-button reopen-issue" data-issue-id="<%= issue.iid %>" <% if(issue.state === 'opened') { %> style="display:none;" <% } %>>Reopen Issue</button>


            <!-- The div for the all the comments of one speceifc issues -->
            <div class="issue-comments" style="display: none;">
                <h3>Comments</h3>
                <!-- placeholder for new comments -->
            </div>
        </div>
    <% }); %>
</div>